$text: #fff;

// Colors
$dark1: #212121;
$dark2: #282828;
$dark3: #353535;
$dark4: #424242;
$white: #fff;
$red: #ff0000;

// Fonts
$font-title: 'Roboto', Arial, sans-serif;
$font-text: 'Roboto', Arial, sans-serif;
