@import "../../../scss/partials/variables";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
  padding: 30vh 1rem 1rem;

  &__title {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.75rem;
  }

  &__appname {
    color: $red;
  }

  &__description {
    text-align: center;
    font-size: 1.5rem;
  }
}
