@import "../../../../../../scss/partials/variables";

.navigation-item {
  position: relative;
  display: flex;
  align-items: center;

  &__link {
    display: block;
    width: 100%;
    padding: 1rem;
    font-size: 1.25rem;

    &--active {
      background-color: $dark3;
    }
  }

  &__btn {
    position: absolute;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: $dark4;

    svg {
      width: 1.25rem;
      height: 1.25rem;
      transform: rotateZ(45deg);
    }
  }

  @media (min-width: 768px) {
    &__link {
      padding: 1.25rem 2rem;

      &:active {
        background-color: $dark1;
      }
    }

    &__btn {
      right: 2rem;

      &:active {
        background-color: $red;
      }
    }
  }

  @media (min-width: 1024px) {
    &__link {
      padding: 1rem;
    }

    &__btn {
      display: none;
      right: 1rem;

      &:hover {
        background-color: $red;
      }
    }

    &:hover {
      background-color: $dark1;

      .navigation-item__link {
        color: $red;
      }

      button {
        display: flex;
      }
    }
  }
}
