main {
  width: 100vw;
  height: calc(100vh - 50px);
}

@media (min-width: 1024px) {
  :host {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }

  main {
    width: calc(100vw - 300px);
    height: 100vh;
    overflow-y: auto;
  }
}


