@import "../../../../../scss/partials/variables";

.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;

  &__label {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__control {
    width: calc(100% - 2rem);
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid $dark4;
    border-radius: .5rem;
    background-color: $dark1;
    font-size: 1.5rem;
    outline: transparent;
  }

  &__btn {
    position: absolute;
    right: 1rem;
    padding: .5rem;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  @media (min-width: 1024px) {
    margin: 1rem auto;

    &__control {
      height: 2.5rem;
      font-size: 1.25rem;
    }
  }
}
